name: Zizmor static analysis
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule: [cron: "40 4 * * 1" ]

jobs:
  zizmor:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1
      - name: Install zizmor
        run: uv tool install zizmor
      - name: zizmor static analysis check
        run: zizmor --format sarif . > results.sarif
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
          category: zizmor